body {
    background: #ECF0F1;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
    font-family: serif;
}

.top_nav {
    background-color: #003333;
    overflow: hidden;
}

.top_nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top_nav a:hover {
  background-color: #669999;
  color: white;
}

.article_list {
    word-wrap: break-word;
    margin:5% 15% 5% 15%;
}
.title_index_item {
    text-decoration: none;
    background-color:#FFF;
    display: block;
    box-shadow: 0px 0px 10px #ccc;
    padding:10px 5% 10px 5%;
    margin: 10px 0 10px 0;
}
.title {
    color:#336699;
}
.pub_time {
    display: inline-block;
    color:#666666;
    margin-right: 2%;
}
.update_time {
    display: inline-block;
    color:#3399CC;
    margin-right: 2%;
}
.author {
    text-decoration:none;
    font-family: serif;
    color:black;
    margin-right: 2%;
    /* padding-left: 8px; */
    /* border-left: 8px solid; */
}
.article ,
.me {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.me .article_list{
    margin-left: 2%;
    margin-right: 2%;
}
.title_bar {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    word-wrap: break-word;
    padding: 2% 5% 2% 5%;
    margin:10px 0 10px 0;
    background: #fff;
    /* border: 1px solid #ddd; */
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 0 0 3px 3px;
}
.author_info {
    background:#fff;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 0 0 3px 3px;
    padding: 10px 10px 10px 10px;
    border-top: 1em solid #669999;
}
.name {
    text-align:center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.info {
    list-style:none;
}
.info .caption{
    margin-left: 1em;
    margin-right:1em;
    padding: 2px;
    background:#003333;
    color:#fff;
}

.title_bar .title{
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
    font-family: serif;
}
@media (max-width: 600px) {
    .article,
    .me,
    .article_list {
        margin: 2% 2% 2% 2%;
        /* display: table-cell; */
        /* vertical-align: middle; */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
    }
}
