.markdown ol ol,
.markdown ul ol,
.markdown ol ul,
.markdown ul ul,
.markdown ol ul ol,
.markdown ul ul ol,
.markdown ol ul ul,
.markdown ul ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  word-wrap: break-word;
  padding: 2% 5% 5% 5%;
  margin: 10px 15% 5% 15%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
}
.markdown > *:first-child {
  margin-top: 0 !important;
}
.markdown > *:last-child {
  margin-bottom: 0 !important;
}
.markdown * {
  box-sizing: border-box;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
  font-family: serif;
}
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre,
.markdown ul p,
.markdown ol p,
.markdown dl p,
.markdown table p,
.markdown pre p {
  margin-top: 0;
  margin-bottom: 16px;
  text-indent: 0;
}
.markdown blockquote,
.markdown blockquote p,
.markdown p {
  margin-top: 0;
  margin-bottom: 16px;
  text-indent: 2em;
}
.markdown h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
.markdown h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.markdown h4 {
  font-size: 1.25em;
}
.markdown h5 {
  font-size: 1em;
}
.markdown h6 {
  font-size: 1em;
  color: #777;
}
.markdown ol,
.markdown ul {
  padding-left: 2em;
}
.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}
.markdown ol ul,
.markdown ul ul {
  list-style-type: circle;
}
.markdown ol ul ul,
.markdown ul ul ul {
  list-style-type: square;
}
.markdown ol {
  list-style-type: decimal;
}
.markdown ul {
  list-style-type: disc;
}
.markdown blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.markdown pre {
  word-wrap: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
}
.markdown pre code {
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-size: 100%;
  line-height: inherit;
  word-wrap: normal;
  white-space: pre;
  border: 0;
  border-radius: 3px;
  background-color: transparent;
}
.markdown pre code:before,
.markdown pre code:after {
  content: normal;
}
.markdown code {
  font-family: monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
.markdown code:before,
.markdown code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.markdown a {
  color: #4078c0;
  text-decoration: none;
  background: transparent;
}
.markdown img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 10px #555;
  margin-left: auto;
  margin-right:auto;
  display:block;
}
.markdown strong {
  font-weight: bold;
}
.markdown em {
  font-style: italic;
}
.markdown del {
  text-decoration: line-through;
}
