{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{{artical.title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/markdown.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/highlight.css' %}">
    </head>
    <body>
        <div class="artical">
            <div class="title">
                <div class="text">
                    <h1>{{ artical.title }}</h1>
                </div>
                <div class="pubtime">
                    <p>{{ artical.pub_time }}</p>
                </div>
                <!-- TODO: add nickname support -->
                <div class="author">
                    <p>{{ artical.author.name }}
                </div>
            </div>
            <div class="markdown"> {{ artical.content.content|safe}}</div>
        </div>
    </body>
</html>
