{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'blog/head.html' %}
        <title>{{artical.title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/markdown.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/highlight.css' %}">
    </head>
    <body>
        <div class="artical">
            <div class="title_bar">
                <div class="title">
                    <h1>{{ artical.title }}</h1>
                </div>
                <div>
                    <span class="pub_time">{{ artical.pub_time }}</span>
                    {% if artical.content.update_time != artical.pub_time %}
                    <span class="update_time">{{artical.content.update_time}} 更新</span>
                    {% endif %}
                </div>
                <div>
                    <a class="author" href="{% url 'blog:author' artical.author.name %}">
                    {% if artical.author.nickname is None %}
                        {{ artical.author.name }}
                    {% else %}
                        {{ artical.author.nickname }}
                    {% endif %}
                    </a>
                </div>
            </div>
            <div class="markdown"> {{ artical.content.content|safe}}</div>
        </div>
    </body>
</html>
