{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'blog/head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <title>some2501</title>
    </head>
    <body>
        <div class="artical_list">
            {% if latest_artical_list %}
                {% for artical in latest_artical_list %}
                <a class="title_index_item" href="{% url 'blog:artical' artical.author.name artical.file_name|slice:":-3" %}">
                    <h1 class="title">
                        {{ artical.title }}
                    </h1>
                    <p>
                    <span class="author">
                    {% if artical.author.nickname is None %}
                        {{ artical.author.name }}
                    {% else %}
                        {{ artical.author.nickname }}
                    {% endif %}
                    </span>
                    <span class="pub_time"> {{ artical.pub_time }} </span>
                    </p>
                </a>
                {% endfor %}
            {% else %}
                <a class="title_index_item">
                    <h1 class="title">
                        No artical
                    </h1>
                </a>
            {% endif %}
        </div>
    </body>
</html>
