{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'blog/head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <title>some2501</title>
    </head>
    <body>
        {% include 'blog/top_nav.html' %}
        <div class="article_list">
            {% if latest_article_list %}
                {% for article in latest_article_list %}
                <a class="title_index_item" href="{% url 'blog:article' article.author.name article.file_name|slice:":-3" %}">
                    <h1 class="title">
                        {{ article.title|safe }}
                    </h1>
                    <p>
                    <span class="author">
                    {% if article.author.nickname is None %}
                        {{ article.author.name }}
                    {% else %}
                        {{ article.author.nickname }}
                    {% endif %}
                    </span>
                    <span class="pub_time"> {{ article.pub_time }} </span>
                    </p>
                </a>
                {% endfor %}
            {% else %}
                <a class="title_index_item">
                    <h1 class="title">
                        No article
                    </h1>
                </a>
            {% endif %}
        </div>
    </body>
</html>
